@import url('https://fonts.googleapis.com/css2?family=poppins&family=righteous&family=Ubuntu:ital,wght@0,500;0,700;1,400&display=swap');

:root{
    --primary_color:#d4af37;
    --black_color:#000;
    --white_color:#ddd;

    --ubuntu: "ubuntu";
    --righteous: "righteous";

    --box-shadow: 10px 10px 5px rgba(0,0,0,.3);
    --padding: 10rem 0;
    --margin: 4rem 0;
    --border: 1px solid #ddd;

    
    --swiper-theme-color: #d4af37;
    
}

html{
    font-size: 70%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "poppins";
}

/* Utality classes start */
a{
    text-decoration: none;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 80px;
}

.main_heading{
    font-size: 4rem;
    font-family: var(--righteous);
    text-align: center;
    color: #000;
}

.normal_heading{
    font-size: 2rem;
    font-family: var(--righteous);
    color: var(--primary_color);
    text-align: center;
}

.main_heading-1{
    font-size: 4rem;
    font-family: var(--righteous);
    text-align: center;
    color: #d4af37;
}

.normal_heading-1{
    font-size: 4rem;
    font-family: var(--righteous);
    color: var(--primary_color);
    text-align: center;
}

/* Utality classes close */

/* header start */
header{
    width: 100%;
    background: rgba(0,0,0,0.6);
    position: fixed;
    padding: 1.5rem 0;
    z-index: 100;
    transition: all 0.5s ease-in-out;
}

header.sticky{
    background: #000;
}

.logo img{
    display: block;
    object-fit: cover;
    width: 10%;
}

.navbar{
display: flex;
justify-content: space-between;
align-items: center;
}

.navbar nav{
    display:flex;
    align-items: center;
}

.navbar nav li{
    list-style-type: none;
    margin: 0 1rem;
}

.navbar nav li a{
    font-size: 1.3rem;
    color: var(--primary_color);
    position:relative;
}

.navbar nav li a::after{
    content: "";
    position: absolute;
    height:3px;
    background:var(--primary_color);
    width: 0%;
    left: 0;
    top: 30px;
    transition: all 0.5s ease-in-out;
}   

.navbar nav li a:hover::after{
    width: 100%;
}

.btn{
    font-size: 2.2rem;
    color: var(--primary_color);
    cursor: pointer;
    display: none;
}

/* header close */

/* Showcase Start */
#showcase{
    background: url('../img/showcase\ background.jpg') no-repeat center center/cover;
    min-height: 100vh;
    position: relative;
    z-index: -10;
}

#showcase::before{
content: "";
background: rgba(0,0,0,0.6);
position: absolute;
top: 0;
left: 0;
width:100%;
height: 100%;
z-index: -11;
}

#showcase .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;

}

#showcase .content h2{
    font-size: 7rem;
    font-family: var(--righteous);
    color: var(--primary_color);
    text-align: center;
    letter-spacing: 2px;
}

#showcase .content h3{
    font-size: 3rem;
    font-family: var(--righteous);
    color: var(--primary_color);
    text-align: center;
    letter-spacing: 2px;
}
/* Showcase end */

/* Special offer start */
#sp_offer{
    padding: 10rem 0;
    background-color: var(--black_color);
    color: var(--primary_color);
}

.sp_content{
display: grid;
grid-template-columns: repeat(2,1fr);
width: 100%;
grid-gap: 4rem;
}

.headings h2{
    font-size: 4rem;
    font-family: var(--righteous);
}

.headings h3{
    font-size: 2rem;
    font-family: var(--ubuntu);
    color: var(--white_color);
}

.imgs_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;

}

.imgs{
    display: flex;
    align-items: center;
}

.imgs img{
    display: block;
    object-fit: cover;
    /* width: 50%; */

}

.content_for_img{
    padding-left: 3rem;
}

.content_for_img h4{
    font-size: 2rem;
    padding-block-end: 0.5rem;
    font-family: var(--ubuntu);
}

.content_for_img p{
    font-size: 1.2rem;
    font-family: var(--primary_color);
    line-height: 1.5;
}

.imgs_content .price{
    font-size: 1.5rem;
    font-family:var(--righteous) ;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 50%;
}

.right_side_content{
    width: 100%;
    position: relative;
}

.right_side_content img{
display: block;
width: 100%;
object-fit: cover;
margin-left: auto;
}

.img_right_side .over_img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 4rem;
    text-align: center;
    background: var(--primary_color);
    color:var(--black_color);
    border-radius: 60%;
}

.over_img h2{
    font-size: 2rem;
}

.over_img a{
    color: white;
}

/* special offer close */

/* Reservation now start */
.reservation_tbl{
    background: url('../img/reservation.jpg') no-repeat center center/cover;
    background-attachment: fixed;
    padding: 6rem 0;
}

.form_data{
    background: var(--black_color);
    padding: 4rem;
    width: 50%;
    color: var(--primary_color);
}

.form_data form{
    padding: 4rem;
}

.form_data form input{
    width: 49.5%;
    padding: 0.7rem 0.4rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 4px;

}

.form_data form textarea{
    width: 100%;
    padding: 1rem 0.4rem;
}

.form_data form button{
    display: inline-block;
    width: 100%;
    border:none;
    padding: 0.9rem 0;
    margin-top: 2rem;
    border-radius:5px ;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.form_data form button:hover{
    background: var(--black_color);
    color: #ddd;
}

.logo2 img{
    display: block;
    object-fit: cover;
    width: 100%;
}
/* reservation now close */

/* Deals today start */
#deal_today{
    padding: 5rem 0;
    background:url(../img/food\ background.jpeg) no-repeat center center/cover;
    color: #d4af37;
}

#deal_today .card_content{
    text-align: center;
    font-size: 1.7rem;
    font-weight: 900;
}

#deal_today .cards{
    margin: 3rem 0;
}

#deal_today .card_content h4{
    font-family: var(--ubuntu);
    font-size: 2rem;
    color: #d4af37;
}

#deal_today .card_content .price{
    font-size: 2rem;
    color: var(--primary_color);
    font-weight: 600;
}
/* Deals today close */



/* food lover section */
#food_lover {
    padding: var(--padding);
    background: url(../img/1.avif) no-repeat center center/cover;
}

.food_lover_container {
    margin: var(--margin);
}

.food_lover_container .btn_container {
    margin: var(--margin);
    width: 100%;
    display: inline-block;
    color: #000;
    text-align: center;
}

.btn_container .btn_cat {
    padding: 0.7rem 1.2rem;
    cursor: pointer;
    margin: 0 2rem;
    border: var(--border);
    font-size: 1.4rem;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

.btn_cat:hover, .active_btn {
    background: var(--primary_color);
    color: var(--black_color);
}

.menus_items_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.menus_items_container .img_cards {
    border: none;
    box-shadow: var(--box-shadow);
    width: 50%;
    height: 50%;
}

.img_cards img {
    display: block;
    width: 100%;
    object-fit: cover;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.img_cards p {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    font-family: var(--ubuntu);
    color: var(--white_color);
}

.img_cards .price {
    color: var(--primary_color);
    font-size: 1.8rem;
}

.img_cards img:hover {
    transform: scale(1.1);
}
/* food lover close */

/* customer review section */
#customer_feedback {
    padding: var(--padding);
    background: url("../img/navbarlogo.png") no-repeat center center/cover;
    background-attachment: fixed;
    position: relative;
    color: #fff;
}

#customer_feedback::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
}

.customer_cards_container {
    margin: var(--margin);
    z-index: -1;
}

.customer_card {
    /* background: white; */
    text-align: center;
    padding: 3rem;
    box-shadow: var(--box-shadow);
    width: 50%;
    height: 50%;
    margin: auto;
}

.customer_card img {
    object-fit: contain;
    width: 30%;
    height: 30%;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
}

.customer_card p {
    font-size: 1.2rem;
    text-align: justify;
    padding: 2rem 0;
    color: var(--black_color);
    font-weight: bolder;
}

.customer_card .name {
    text-align: center;
    font-size: 1.5rem;
    color: var(--primary_color);
}
/* customer review close */

/* upcoming events section */
#up_coming_events {
    background: url(../img/events\ background.webp) no-repeat center center/cover;
    padding: var(--padding);
}

.events_cards_container {
    margin: var(--margin);
}

.events_card {
    /* border: var(--border); */
    box-shadow: var(--box-shadow);
}

.events_card img {
    display: block;
    object-fit: cover;
    width: 50%;
    margin-left: 100px;
}

.event_content {
    padding: 2rem;
    text-align: justify;
}

.event_content p {
    font-size: 1.2rem;
    color: #d4af37;
    font-weight: bolder;
    
}

.event_content a{
    text-transform: uppercase;
    font-size: 1.3rem;
    color: var(--primary_color);
}
/* upcoming events close */

/* static start */
#static_counter{
    background:url(../img/menu4.jpg) no-repeat center center/cover;
    padding: var(--padding);
    position: relative;
    z-index: -1; 
}

#static_counter::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    z-index: -1;
}

.counters{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    color: var(--white_color);
    grid-gap: 2rem;
}

.counter{
    border: 1px solid #ddd;
    padding: 2rem;
    color: var(--primary_color);
    border-radius: 5px;
}

.num{
    font-size: 8rem;
    font-family: var(--righteous);
}

.counter h2{
    font-size: 2rem;
    font-family: var(--ubuntu);
    color: var(--white_color);
}

/* static close */

/* chef section start */
#chef{
    padding: var(--padding);
}

.chef_container{
    margin: 4rem 0;
    text-align: center;
}

.chef_cards{
    box-shadow: var(--box-shadow);
}

.chef_content{
    padding: 2rem 0;
}

.position{
    font-size: 1.5rem;
    color: var(--primary_color);
}
.social_icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
}

.social_icons i{
    cursor: pointer;
}

/* chef section close */



#footer {
    background: #212121;
    padding: var(--padding);
    color: var(--white_color);
    font-size: 1.3rem;
}

.footer_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

.about_us img {
    display: block;
    object-fit: cover;
    width: 50%;
    margin-bottom: 2rem;
}

.about_us p {
    line-height: 1.8;
    padding-bottom: 2rem;
}

.about_us a {
    color: var(--primary_color);
}

.footer_container h2 {
    padding-bottom: 3rem;
    color: var(--primary_color);
}

.opening_hours {
    line-height: 1.8;
}

.opening_hours .day, .email, .add {
    color: var(--primary_color);
}

.opening_hours .day span {
    color: var(--primary_color);
}

footer {
    background: #171717;
    text-align: center;
    padding: 2rem 0;
    font-size: 1.4rem;
    color: var(--white_color);
}

footer a{
    color: var(--primary_color);
}
