@import url('https://fonts.googleapis.com/css2?family=poppins&family=righteous&family=Ubuntu:ital,wght@0,500;0,700;1,400&display=swap');

:root{
    --primary_color:#d4af37;
    --black_color:#000;

    --ubuntu: "ubuntu";
    --righteous: "righteous";
    
    --box-shadow: 10px 10px 5px rgba(0,0,0,.3);
}

html{
    font-size: 70%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "poppins";
}

/* Utality classes start */
a{
    text-decoration: none;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 80px;
}

.main_heading{
    font-size: 4rem;
    font-family: var(--righteous);
    text-align: center;
    color: #000;
}

.normal_heading{
    font-size: 2rem;
    font-family: var(--righteous);
    color: var(--primary_color);
    text-align: center;
}

.main_heading-1{
    font-size: 4rem;
    font-family: var(--righteous);
    text-align: center;
    color: #d4af37;
}

.normal_heading-1{
    font-size: 4rem;
    font-family: var(--righteous);
    color: var(--primary_color);
    text-align: center;
}

/* Utality classes close */

/* header start */
header{
    width: 100%;
    background: var(--black_color);
    position: fixed;
    padding: 1.5rem 0;
}

.logo img{
    display: block;
    object-fit: cover;
    width: 10%;
}

.navbar{
display: flex;
justify-content: space-between;
align-items: center;
}

.navbar nav{
    display:flex;
    align-items: center;
}

.navbar nav li{
    list-style-type: none;
    margin: 0 1rem;
}

.navbar nav li a{
    font-size: 1.3rem;
    color: var(--primary_color);
    position:relative;
}

.navbar nav li a::after{
    content: "";
    position: absolute;
    height:3px;
    background:var(--primary_color);
    width: 0%;
    left: 0;
    top: 30px;
    transition: all 0.5s ease-in-out;
}   

.navbar nav li a:hover::after{
    width: 100%;
}

.btn{
    font-size: 2.2rem;
    color: var(--primary_color);
    cursor: pointer;
    display: none;
}

/* header close */

/* Showcase Start */
#showcase{
    background: url('../img/showcase\ background.jpg') no-repeat center center/cover;
    min-height: 100vh;
    position: relative;
    z-index: -10;
}

#showcase::before{
content: "";
background: rgba(0,0,0,0.6);
position: absolute;
top: 0;
left: 0;
width:100%;
height: 100%;
z-index: -11;
}

#showcase .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;

}

#showcase .content h2{
    font-size: 7rem;
    font-family: var(--righteous);
    color: var(--primary_color);
    text-align: center;
    letter-spacing: 2px;
}

#showcase .content h3{
    font-size: 3rem;
    font-family: var(--righteous);
    color: var(--primary_color);
    text-align: center;
    letter-spacing: 2px;
}
/* Showcase end */

/* Special offer start */
#sp_offer{
    padding: 10rem 0;
    background-color: var(--black_color);
    color: var(--primary_color);
}

.sp_content{
display: grid;
grid-template-columns: repeat(2,1fr);
width: 100%;
grid-gap: 4rem;
}

.headings h2{
    font-size: 4rem;
    font-family: var(--righteous);
}

.headings h3{
    font-size: 2rem;
    font-family: var(--ubuntu);
}

.imgs_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;

}

.imgs{
    display: flex;
    align-items: center;
}

.imgs img{
    display: block;
    object-fit: cover;
    /* width: 50%; */

}

.content_for_img{
    padding-left: 3rem;
}

.content_for_img h4{
    font-size: 2rem;
    padding-block-end: 0.5rem;
    font-family: var(--ubuntu);
}

.content_for_img p{
    font-size: 1.2rem;
    font-family: var(--primary_color);
    line-height: 1.5;
}

.imgs_content .price{
    font-size: 1.5rem;
    font-family:var(--righteous) ;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 50%;
}

.right_side_content{
    width: 100%;
    position: relative;
}

.right_side_content img{
display: block;
width: 100%;
object-fit: cover;
margin-left: auto;
}

.img_right_side .over_img{
    position: absolute;
    top: -10%;
    right: 50%;
    transform: translate(50%,50%);
    padding: 4rem;
    text-align: center;
    background: var(--primary_color);
    color:var(--black_color);
    border-radius: 60%;
}

.over_img h2{
    font-size: 2rem;
}

.over_img a{
    color: white;
}

/* special offer close */

/* Reservation now start */
.reservation_tbl{
    background: url('../img/reservation.jpg') no-repeat center center/cover;
    background-attachment: fixed;
    padding: 6rem 0;
}

.form_data{
    background: var(--black_color);
    padding: 4rem;
    width: 50%;
    color: var(--primary_color);
}

.form_data form{
    padding: 4rem;
}

.form_data form input{
    width: 49.5%;
    padding: 0.7rem 0.4rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 4px;

}

.form_data form textarea{
    width: 100%;
    padding: 1rem 0.4rem;
}

.form_data form button{
    display: inline-block;
    width: 100%;
    border:none;
    padding: 0.9rem 0;
    margin-top: 2rem;
    border-radius:5px ;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.form_data form button:hover{
    background: var(--black_color);
    color: #ddd;
}

.logo2 img{
    display: block;
    object-fit: cover;
    width: 100%;
}
/* reservation now close */

/* Deals today start */
#deal_today{
    padding: 5rem 0;
    background:url(../img/top-view-fresh-tomatoes-with-seasonings-mushrooms-dark-surface-ripe-salad-food-color.jpg) no-repeat center center/cover;
    color: #d4af37;
}

#deal_today .card_content{
    text-align: center;
    font-size: 1.7rem;
    font-weight: 900;
}

#deal_today .cards{
    margin: 3rem 0;
}

#deal_today .card_content h4{
    font-family: var(--ubuntu);
    font-size: 2rem;
    color: #d4af37;
}

#deal_today .card_content .price{
    font-size: 2rem;
    color: var(--primary_color);
    font-weight: 600;
}
/* Deals today close */
