@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  --primary-color: RGB(212, 175, 55);
  --primary-color-alt: hsl(28, 72%, 83%);
  --second-color: #3e537c;
  --second-color-alt: hsla(220, 33%, 36%, 65%);
  --third-color: hsl(220, 36%, 28%);
  --white-color: #fbfbfb;
  --white-color-alt: hsl(12, 14%, 93%);
  --dark-color: hsl(300, 100%, 0%);
}

/* BASE */
body {
  font-family: "Raleway", sans-serif;
  background-color: var(--white-color);
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img, video {
  width: 100%;
  height: auto;
}
.container {
  padding: 2rem;
}




/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-color);
  padding: 1rem 2rem;
}
.company-logo {
  font-size: 5.5rem;
  background: -webkit-linear-gradient(
    120deg,
    var(--primary-color-alt),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.navbar .nav-items {
  display: flex;
}
.nav-item {
  margin: 0 1rem;
}
.nav-link {
  font-size: 1.1rem;
  position: relative;
  background: -webkit-linear-gradient(var(--primary-color-alt), var(--primary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.nav-link::before {
  content: "";
  width: 100%;
  height: 0.05rem;
  background: linear-gradient(var(--primary-color), var(--primary-color-alt));
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 150ms;
}
.nav-link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
  .navbar {
    background-color: var(--dark-color);
    position: absolute;
    top: 3.5rem;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 500ms;
  }
  .show-navbar {
    display: flex;
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 300ms;
  }
  .nav-items {
    display: flex;
    flex-direction: column;
  }
  .nav-item {
    margin: 0.5rem 0;
  }
  .menu-toggle {
    display: block;
  }
  .bx-menu {
    display: block !important;
  }
  .show-bx {
    display: block !important;
  }
  .hide-bx {
    display: none !important;
  }
}
@media (min-width: 769px) {
  header {
    padding: 1rem 5rem;
  }
}

/* MAIN SECTIONS */
.section-1 {
  background-color: var(--dark-color);
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  padding: 10rem 5rem 0 5rem;
}
.slogan .company-title {
  background: -webkit-linear-gradient(120deg, var(--primary-color-alt), var(--primary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 2rem;
  font-size: 2.8rem;
  font-weight: 600;
  letter-spacing: 0.5rem;
  background-clip: text;
}
.slogan .company-slogan {
  background: -webkit-linear-gradient(100deg, var(--primary-color-alt), var(--primary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8rem;
  max-width: 50rem;
  background-clip: text;
}

/* ABOUT SECTION */
.section-about {
  padding: 50px 0;
}
.about-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.about-description {
  flex: 1;
  padding-right: 20px;
}
.ceo-img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
}

/* MENU SECTION */
.section-menu {
  padding: 20px 0;
  background-color: black;
}
.menu-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.menu-item {
  padding: 10px;
  border-radius: none;
  text-align: center;
  color: #fbfbfb;
}
.menu-img {
  width: 30%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
  
}


/* GALLERY SECTION */
.section-gallery {
  padding: 50px 0;
  background-color: black;
  color: #fbfbfb;
}
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.gallery-item {
  position: relative;
}

/* STAFF SECTION */
.section-staff {
  padding: 50px 0;
  background-color: black;
  color: #fbfbfb;
}
.staff-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.staff-member {
  text-align: center;
}
.staff-photo {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* SPECIAL PACKAGES SECTION */
.section-packages {
  padding: 50px 0;
  background-color: black;
}
.package-item {
  padding: 20px;
  background-color: black;
  border: 10px solid var(--primary-color);
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: #fbfbfb;
  font-weight: bolder;
  font-size: large;
}
.package-photo {
  width: 70%;
  height: 70%;
  border-radius: 10px;
  margin-bottom: 20px;
}
.section-title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2em;
  color: var(--primary-color);
}
.package-date {
  font-weight: bold;
  background-color: RGB(212, 175, 55);
  font-size: xx-large;
}


/* FOOTER */
footer {
  background-color: var(--dark-color);
  padding: 20px;
  text-align: center;
}
.social-links a {
  color: var(--primary-color);
  margin: 0 10px;
  font-size: 1.5rem;
}
